<section id="header">
    <div class="header wrap"><span class="header left-side">
	<a class="site home" href="{{- `/` | relLangURL -}}">
        {{- $logo := site.Params.logo -}}
        {{- if $logo -}}
        <img class="site logo" src="{{- $logo | relURL -}}" alt />
        {{- end -}}
        <span class="site name">{{- site.Title | safeHTML -}}</span></a></span>
        <span class="header" style="text-align:center">
            {{- partial "navigation-items.html" site.Params.nav -}}
        </span></div>
    {{- with site.Params.slogan -}}
    <div class="site slogan"><span class="title">{{- . | safeHTML -}}</span></div>
    {{- end -}}
</section>
